#symplectic-publications-container {
    margin-top: 60px;
}

#symplectic-publications-container .row {
    padding: 15px;
}

#symplectic-publications-container .row h5 {
    margin-bottom: 15px;
    font-size: 16px;
}

#symplectic-publications-container .row.publication {
    margin-bottom: 30px;
}

#symplectic-publications-container .row.publication:nth-child(even) {
    background-color: #F9F9F9;
}

#symplectic-publications-container .row.error {
    background-color: #FF9966;
}

#symplectic-publications-container .row.info {
    background-color: #CCFF99;
}

#symplectic-publications-container ul {
    padding: 0;
}

#symplectic-publications-container li {
    clear: both;
    display: block;
    overflow: auto;
    margin-bottom: 5px;
}

#symplectic-publications-container .publication-label,
#symplectic-publications-container .publication-value {
    float: left;
    display: inline-block;
    line-height: 1.8em;
}

#symplectic-publications-container .publication-label {
    width: 150px;
}

#symplectic-publications-container .publication-value {
    width: 990px;
    min-width: 990px;
    overflow: hidden;
}

#symplectic-publications-container .publication-value-list-item {
    display: block;
}
